{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div id="navi" class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/game/open_teams">Open Teams</a></li>
            <li><a href="/game/create_team">Create a New Team</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {%if player.player_game.is_active %}
            <li><a href="/game/game/{{player.player_game.game_id}}">Your Game</a></li>
            {%endif%}
            <li id="greeting">Welcome, {{user.username}}</li>
        </ul>
    </div>
    <div class="card" >
        <div class="container">
            <h2>{{user.username}}</h2>
           {% if user.avatar %}  
                <img src="{{ user.avatar.url }}" id="profile-picture" alt="User Avatar">
            {% else %}
            <img src="/media/default-avatar.png" id="profile-picture" alt="Default Avatar">
            {% endif %}
            <h3>{{user.email}}</h3>
            <form type="submit" id="edit-profile" action="edit/">
                <input type="submit" value="Edit Profile"/>
            </form>
        </div>
    </div>
    <div class="logout-container">
        <form action="{% url 'user-logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
          </form>
    </div>
    {% else %}
    <div class="login-required" id="login-to-draw">
        <p>Oops! It seems that you do not have an account logged in. Please <a class="ml-2"
            href="/login">login</a> or <a class="ml-2"
            href="/signup">signup</a></p>
      </div>
    {% endif %}
</body>
</html>