#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #97a497;
  }
  
  #navi li {
    float: left;
  }
  
  #navi li a,
  #greeting {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navi li a:hover {
    background-color: #739273;
  }
  #game_body {
    display: grid;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
  #game_info{
    display: box;
    text-align: center;

  }
  
  #tools-canvas-container {
    
    display: box;
    text-align: center;
  }
  
  #game-timer {
    font-size: 30px;
  }

  #open-teams, 
  #team_list,
  #team_creation_message, 
  #buttons_and_message,
  #chat-div
  {
    display: box;
    text-align: center;
  }

  #chat-log{
    height: 100px;
    padding: 20 auto 20 auto;
    margin: 2em 25vw 2em 25vw;
    background-color: #97A497;
    color: #253325;
    border: 3px solid #97A497;
    border-radius: 20px;
    text-align: center;
    overflow-x:auto;
  }
  #chat-log p:last-child {
    color: white;
    font-size: 25px;
  }
  