#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #97a497;
  }
  
  #navi li {
    float: left;
  }
  
  #navi li a,
  #greeting {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navi li a:hover {
    background-color: #739273;
  }
  #game_body {
    display: grid;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
  #game_info{
    display: box;
    text-align: center;

  }
  
  #tools-canvas-container {
    
    display: box;
    text-align: center;
  }
  
  #game-timer {
    font-size: 30px;
  }

  #open-teams, 
  #team_list,
  #team_creation_message, 
  #buttons_and_message{
    display: box;
    text-align: center;
  }