{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create New Teams</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">

</head>
<body>
    <div id="navi" class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/game/open_teams">Open Teams</a></li>
            <li><a href="/game/create_team">Create a New Team</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <li id="greeting">Welcome, {{user.username}}</li>
        </ul>
    </div>
    <div id="team_creation_message">
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    </div>    
    {% if player.player_team is None %}
    <div id="team_list">
    <h1>Create New Teams</h1>
    <form method="post">
        {% csrf_token %}
        <label for="team_name">Team Name:</label><br>
        <input type="text" name="team_name" id="team_name"><br><br>
        <button type="submit">Create Team</button>
    </form>
    </div>
    {% endif %}
</body>
</html>