{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Game {{ game.game_id }}</h1>
<p>Team 1: {{ game.team1.name }}</p>
<p>Team 2: {{ game.team2.name }}</p>
<p>First Team: {{ game.guessers.name }}</p>
<p>Current Artist: {{ game.current_artist.player_import.username }}</p>
<p>Current Word: {{ game.word_to_guess }}</p>
<p>User: {{ users.username }} {{users.user_id}}</p>
<p>Remaining Time: {{ remaining_time }}</p>


</body>
</html>