{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>

<body>
  <script type="text/javascript" src="{% static 'game/drawing.js' %}"></script>
  <div id="navi" class="header">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/game/open_teams">Open Teams</a></li>
      <li><a href="/game/create_team">Create a New Team</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
      {%if player.player_game.is_active %}
      <li><a href="/game/game/{{player.player_game.game_id}}">Your Game</a></li>
      {%endif%}
      <li id="greeting">Welcome, {{user.username}}</li>
    </ul>
  </div>
  <div id="game-id" style="display: none;">{{ game.game_id }}</div>
  <div id="game_body">
    <div id="game_info">
      <p>{{ game.team1.name }} vs {{ game.team2.name }}</p>
      <!-- debugging purposes -->
      <p id="guessers">Guessers: {{ guessers }}</p>
      <p id="current_artist">Current Artist: {{ current_artist }}</p>

      {% if game.current_artist.player_import == users %}
      <p id="word_to_guess">Current Word: {{ word_to_guess }}</p>
      {%endif%}
      <p id="current_round">{{ current_round }} </p>
      <p> Your Team ({{player.player_team.name}}): {{player.player_team.score}} </p>
      <p>Opposing Team ({{other_team.name}}): {{other_team.score}}</p>
      <p id="game-timer">Remaining Time: {{ round_end_timestamp_ms }}</p>
    </div>
    <div id="canvas_div">
      <canvas id="active-canvas" width="1000px" height="500px" style="border:1px solid #000000;text-align: center;">
      </canvas>
      {% if game.current_artist.player_import == users %}
      <div id="tools-canvas-container">

        <label for="myRange">Change Size</label>
        <input type="range" min="1" max="100" value="5" class="slider" id="myRange">

        <button id="eraser-canvas" class="tools-canvas" type="button">Eraser</button>
        <button id="pencil-canvas" class="tools-canvas" type="button">Pencil</button>
        <label for="favcolor">Change Color</label>
        <input type="color" id="color-canvas" name="favcolor" value="#000000">
        <button id="clear-canvas" class="tools-canvas" type="button">Clear Canvas</button>
      </div>
      {% endif %}
    </div>
  </div>

  <div id="chat-div">
    <div id="chat-log"></div>
    <input type="text" id="message-input">
    <button id="send-button">Send</button>
  </div>
  <!-- useful for updating elements -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>

    const gameId = "{{ game.game_id }}";
    const gameSocket = new WebSocket('ws://127.0.0.1:8765/');
    const chatLog = document.getElementById('chat-log');
    const messageInput = document.getElementById('message-input');
    const sendButton = document.getElementById('send-button');
    const guessWord = "{{game.word_to_guess}}";
    const playerId = "{{player.player_id}}";
    const player_team = "{{player.player_team}}";
    const game_guessers = "{{game.guessers}}";
    const current_artist = "{{current_artist}}";
    const player = "{{player}}";
    
    document.addEventListener('DOMContentLoaded', function () {
      // only the guessing team may use the chat
      // excludes the artist as well
      // HOWEVER, all players can see the chat history
      if ( player_team != game_guessers ||  player === current_artist ) {
        document.getElementById("message-input").style.display = "none";
        document.getElementById("send-button").style.display = "none";
      }
      const c = document.getElementById("active-canvas");
      const ctx = c.getContext("2d");
      const timerDisplay = document.getElementById('game-timer');
      const round_end_time = "{{ round_end_timestamp_ms }}";
      const curr_round = "{{ game.rounds }}";
      const max_rounds = "{{ game.max_rounds }}";
      const websocketUrl = `ws://${window.location.host}/ws/game/${gameId}/`;
      const websocket = new WebSocket(websocketUrl);
      gameSocket.onopen = () => {
        console.log('WebSocket connection opened');
        gameSocket.send(JSON.stringify({ type: 'join_room', game_id: gameId, player_id: playerId }));
      };

      gameSocket.onmessage = (event) => {
        const data = JSON.parse(event.data);      
        if (data.type === 'canvas_update') {
          // console.log('this is canvas_update\n');
          const drawDataURL = data.message;
          const img = new Image();
          img.onload = () => {
            ctx.clearRect(0, 0, c.width, c.height);
            ctx.drawImage(img, 0, 0);
          };
          img.src = drawDataURL;
        }
        else if (data.type == 'chat_message') {
          const messageElement = document.createElement('p');
          messageElement.textContent = data.player + ": " + data.message;
          chatLog.appendChild(messageElement);
          chatLog.scrollTop = chatLog.scrollHeight;
        }
      };

      gameSocket.onclose = () => {
        console.log('WebSocket connection closed');
      };

      sendButton.onclick = () => {
        const message = messageInput.value;
        if (message) {
          gameSocket.send(JSON.stringify({ type: 'chat_message', game_id: gameId, message: message, player_id: playerId }));
          messageInput.value = '';
        }
      };
      websocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.type === 'timer_update') {
          const remainingSeconds = data.remaining_seconds;
          const minutes = Math.floor(remainingSeconds / 60);
          const seconds = remainingSeconds % 60;
          const formattedMinutes = String(minutes).padStart(2, '0');
          const formattedSeconds = String(seconds).padStart(2, '0');

          if (`${formattedMinutes}` <= 0 && `${formattedSeconds}` <= 0 || round_end_time == 0) {
            if (curr_round == max_rounds) {
              timerDisplay.textContent = `Game Over`;
            }
            else { timerDisplay.textContent = `Time's Up`; }
            setTimeout(function () {
              location.reload();
            }, 3000);
            // location.reload();
          }
          else {
            timerDisplay.textContent = `${formattedMinutes}:${formattedSeconds}`;
            document.getElementById("current_artist").textContent = `Current Artist: ${String(data.current_artist)}`;
            document.getElementById("current_round").textContent = `${String(data.rounds)} out of ${max_rounds}`;
            document.getElementById("guessers").textContent = `Guessers: ${String(data.guessers)}`;
            // console error, but works fine. fix later
            document.getElementById("word_to_guess").textContent = `${String(data.word_to_guess)}`;
          }
        }
      };

      websocket.onopen = function (event) {
        console.log("WebSocket connection opened");
      };

      websocket.onclose = function (event) {
        console.log("WebSocket connection closed");
      };

      websocket.onerror = function (event) {
        console.error("WebSocket error:", event);
      };
    });
  </script>
</body>

</html>