{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    <div id="navi" class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/game/open_teams">Open Teams</a></li>
            <li><a href="/game/create_team">Create a New Team</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {%if player.player_game.is_active %}
            
            <li><a href="/game/game/{{player.player_game.game_id}}">Your Game</a></li>
            {%endif%}
            <li id="greeting">Welcome, {{user.username}}</li>
           
        </ul>
    </div>

    <div id="open-teams">
        <h1>Currently Open Teams</h1>
        {% for open_team in open_teams %}
        <div>
            <p>Team {{open_team.name}} </p>
            <p>
                
                Capacity: {{open_team.current_players}}/{{open_team.max_players}} 
            </p>
            <p>
                <button id="joinTeam{{open_team.team_id}}">Join</button>
            </p>
        </div>

        <div id="joinTeam{{open_team.team_id}}Message"></div>
        {% endfor %}
    </div>
    <div id="buttons_and_message">


        {% if player.player_team is not None %}
        <button id="leaveTeam{{player.player_team.team_id}}">Leave Team {{player.player_team.name}}</button>
        <div id="leaveTeam{{player.player_team.team_id}}Message"></div>
        {%if player.player_team.is_full and player.player_team.creator == player%}
        <form method="post" action="{% url 'create_game' %}">
            {% csrf_token %}
            <button type="submit" id="createGame">Create Game</button>
        </form>
        <div id="createGameMessage"></div>
        {%elif player.player_team.is_full%}
        <p>Waiting on team leader to start a new game.</p>
        {%endif%}
        {% else %}
        <p>You are not currently on a team.</p>
        {% endif%}
    </div>


    {% else %}
    <div class="login-required" id="login-to-draw">
        <p>Oops! It seems that you are not logged in. If you would like to play, please <a class="ml-2"
                href="/login">login</a> or <a class="ml-2" href="/signup">signup</a></p>
    </div>
    {% endif %}
    {%if message %}
    <h1>{{message}}</h1>
    {%endif%}
    <script>


        document.addEventListener('click', function (event) {
            if (event.target.id && event.target.id.startsWith('joinTeam')) {
                const teamId = event.target.id.replace('joinTeam', '');
                fetch('../add_player/' + teamId + '/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => {
                        if (response.ok) {
                            console.log("Response OK");
                            location.reload();
                            // window.location.href = response.url;
                        } else {
                            return response.text().then(errorMessage => {
                                document.getElementById('createGameMessage').textContent = "oops" || "An error occurred on the server.";
                            });
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById('createGameMessage').textContent = "Network Error";
                        location.reload();
                    });
            }
        });


        document.addEventListener('click', function (event) {
            if (event.target.id && event.target.id.startsWith('leaveTeam')) {
                const teamId = event.target.id.replace('leaveTeam', '');
                fetch('/game/leave_team/' + teamId + '/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => 
                    response.json())
                    .then(data => {
                        document.getElementById('leaveTeam' + teamId + 'Message').textContent = data.message;
                        location.reload();
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById('leaveTeam' + teamId + 'Message').textContent = "An Error Occurred";
                        location.reload();
                    });
            }
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
</body>

</html>